* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.wrapper {
    display: inline-flex;

}

.wrapper .static-txt {
    font-size: 60px;
    font-weight: 400;

}

.dynamic-text {
    color: #FC6D6D;
    list-style: none;
    font-size: 60px;
    font-weight: 500;


}

.dynamic-text li span {
    position: relative;

}

.dynamic-text li span::after{

    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    border-left: 2px solid #FC6D6D;
}